{% raw %}[project]
name = "{% endraw %}{{ package_name | replace('_', '-') }}{% raw %}"
version = "0.1.0"
description = "{% endraw %}{{ description }}{% raw %}"
authors = [
    {name = "{% endraw %}{{ primary_author }}{% raw %}"},

]
readme = "README.md"
requires-python = ">={% endraw %}{{ python_version }}{% raw %}"
classifiers = [
    "Programming Language :: Python :: 3",
{% endraw %}{% for item in python_ci_versions %}
    {% raw %}"Programming Language :: Python :: {% endraw %}{{ item.split('.')[:2] | join('.') }}{% raw %}",{% endraw %}
{% endfor %}{% raw %}
]
dependencies = [

]


[dependency-groups]
dev = [
    # Specific to this repository


    # Managed by upstream template
    "pyright=={% endraw %}{{ pyright_version }}{% raw %}", # temporarily pin due to bug in 1.1.401 https://github.com/microsoft/pyright/issues/10487
    "pytest>={% endraw %}{{ pytest_version }}{% raw %}",
    "pytest-cov>={% endraw %}{{ pytest_cov_version }}{% raw %}",
    "pytest-randomly>={% endraw %}{{ pytest_randomly_version }}{% raw %}",
{% endraw %}{% if create_docs %}{% raw %}    "sphinx=={% endraw %}{{ sphinx_version }}{% raw %}",{% endraw %}{% endif %}{% raw %}
{% endraw %}{% if is_frozen_executable %}{% raw %}    "pyinstaller>={% endraw %}{{ pyinstaller_version }}{% raw %}",{% endraw %}{% endif %}{% raw %}
]

[tool.setuptools]
license-files = [] # kludge until this bug is fixed https://github.com/pypa/setuptools/issues/4759

[tool.uv]
package = true

{% endraw %}{% if python_package_registry == "PyPI" %}{% raw %}[[tool.uv.index]]
name = "pypi"
url = "https://pypi.org/simple/"
publish-url = "https://upload.pypi.org/legacy/"

[[tool.uv.index]]
name = "testpypi"
url = "https://test.pypi.org/simple/"
publish-url = "https://test.pypi.org/legacy/"{% endraw %}{% else %}{% raw %}

[[tool.uv.index]]
default = true
name = "code-artifact-primary"
username = "aws"
publish-username = "aws"
url = "https://{% endraw %}{{ repo_org_name }}{% raw %}-{% endraw %}{{ aws_central_infrastructure_account_id }}{% raw %}.d.codeartifact.{% endraw %}{{ aws_org_home_region }}{% raw %}.amazonaws.com/pypi/{% endraw %}{{ repo_org_name }}{% raw %}-primary/simple/"
publish-url = "https://{% endraw %}{{ repo_org_name }}{% raw %}-{% endraw %}{{ aws_central_infrastructure_account_id }}{% raw %}.d.codeartifact.{% endraw %}{{ aws_org_home_region }}{% raw %}.amazonaws.com/pypi/{% endraw %}{{ repo_org_name }}{% raw %}-primary/"

[[tool.uv.index]]
name = "code-artifact-staging"
username = "aws"
publish-username = "aws"
url = "https://{% endraw %}{{ repo_org_name }}{% raw %}-{% endraw %}{{ aws_central_infrastructure_account_id }}{% raw %}.d.codeartifact.{% endraw %}{{ aws_org_home_region }}{% raw %}.amazonaws.com/pypi/{% endraw %}{{ repo_org_name }}{% raw %}-staging/simple/"
publish-url = "https://{% endraw %}{{ repo_org_name }}{% raw %}-{% endraw %}{{ aws_central_infrastructure_account_id }}{% raw %}.d.codeartifact.{% endraw %}{{ aws_org_home_region }}{% raw %}.amazonaws.com/pypi/{% endraw %}{{ repo_org_name }}{% raw %}-staging/"{% endraw %}{% endif %}
