{% raw %}{
  "dockerComposeFile": "docker-compose.yml",
  "service": "devcontainer",
  "workspaceFolder": "/workspaces/${localWorkspaceFolderBasename}",
  "features": {
    "ghcr.io/devcontainers/features/aws-cli:1": {
      // view latest version https://raw.githubusercontent.com/aws/aws-cli/v2/CHANGELOG.rst
      "version": "2.19.3"
    },
    "ghcr.io/devcontainers/features/python:1": {
      // https://github.com/devcontainers/features/tree/main/src/python
      "version": "{% endraw %}{{ python_version }}{% raw %}",
      "installTools": false,
      "optimize": true
    }
  },
  "customizations": {
    "vscode": {
      // Add the IDs of extensions you want installed when the container is created.
      "extensions": [
        // basic tooling
        "eamodio.gitlens@15.5.1",
        "ms-vscode.live-server@0.5.2024091601",
        "MS-vsliveshare.vsliveshare@1.0.5905",
        "github.copilot@1.234.0",
        "github.copilot-chat@0.20.2",

        // Python
        "ms-python.python@2024.14.1",
        "ms-python.vscode-pylance@2024.9.2",
        "ms-vscode-remote.remote-containers@0.383.0",
        "charliermarsh.ruff@2024.54.0",

        // Misc file formats
        "bierner.markdown-mermaid@1.25.0",
        "samuelcolvin.jinjahtml@0.20.0",
        "tamasfe.even-better-toml@0.19.2",
        "emilast.LogFileHighlighter@3.3.3",
        "esbenp.prettier-vscode@11.0.0"
      ],
      "settings": {
        "editor.accessibilitySupport": "off", // turn off sounds
        "extensions.autoUpdate": false,
        "extensions.autoCheckUpdates": false,
        "[python]": {
          "editor.formatOnSave": true,
          "editor.defaultFormatter": "charliermarsh.ruff"
        },
        "ruff.nativeServer": "on",
        // TODO: see if there's a way to specify different configurations for different folders
        "ruff.configuration": "/workspaces/{% endraw %}{{ repo_name }}{% raw %}/ruff-test.toml", // use the test configuration since it's less restrictive and won't show false positives and underline things
        "[jsonc][json]": {
          "editor.defaultFormatter": "esbenp.prettier-vscode",
          "editor.formatOnSave": true
        }
      }
    }
  },
  "initializeCommand": "sh .devcontainer/initialize-command.sh",
  "onCreateCommand": "sh .devcontainer/on-create-command.sh",
  "postStartCommand": "sh .devcontainer/post-start-command.sh"
}{% endraw %}
