{% raw %}version: '3.8'
services:
  devcontainer:
    build:
      context: .
      args:
        REPO_NAME: {% endraw %}{{ repo_name }}{% raw %}
    # You can run `devcontainer-info content-url` in codespaces to see what image base is
    volumes:
      - ..:/workspaces/{% endraw %}{{ repo_name }}{% raw %}:cached
      # Break out the venv folder as a separate docker volume for better performance on Windows hosts
      - python_venv:/workspaces/{% endraw %}{{ repo_name }}{% raw %}/.venv
    command: sleep infinity
    ports:
      - "{% endraw %}{{ ssh_port_number }}{% raw %}:2222"
    environment:
      - AWS_PROFILE=localstack
      - AWS_DEFAULT_REGION={% endraw %}{{ aws_region_for_stack if (aws_region_for_stack is defined and aws_region_for_stack != "") else "us-east-1" }}{% raw %}


volumes:
  python_venv: {}{% endraw %}
