{% raw %}
# can pass in the full major.minor.patch version of python as an optional argument
set -ex

{% endraw %}{% if template_uses_javascript is defined and template_uses_javascript is sameas(true) %}{% raw %}
npm -v
npm install -g pnpm@{% endraw %}{{ pnpm_version }}{% raw %}
pnpm -v{% endraw %}{% endif %}{% raw %}

curl -LsSf https://astral.sh/uv/{% endraw %}{{ uv_version }}{% raw %}/install.sh | sh
uv --version
# TODO: add uv autocompletion to the shell https://docs.astral.sh/uv/getting-started/installation/#shell-autocompletion

# Ensure that uv won't use the default system Python
default_version="{% endraw %}{{ python_version }}{% raw %}"

# Use the input argument if provided, otherwise use the default value
input="${1:-$default_version}"

export UV_PYTHON="$input"
export UV_PYTHON_PREFERENCE=only-system

uv tool install 'copier=={% endraw %}{{ copier_version }}{% raw %}' --with 'copier-templates-extensions=={% endraw %}{{ copier_templates_extension_version }}{% raw %}'

uv tool install 'pre-commit=={% endraw %}{{ pre_commit_version }}{% raw %}'

uv tool list{% endraw %}
