{% raw %}import sys  # pragma: no cover # we can't unit test the entrypoint itself. It is tested in the E2E test of the executable

from {% endraw %}{{ package_name.replace('-', '_') }}{% raw %}.main import (
    entrypoint,
)  # pragma: no cover # we can't unit test the entrypoint itself. It is tested in the E2E test of the executable

if __name__ == "__main__":
    sys.exit(entrypoint(sys.argv[1:])){% endraw %}
